@model Project_63134865.Models.DanhMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy_63134865.cshtml";
}

<h2 style="color: #0094ff ; font-size: 30px; font:bold; ">Chi tiết</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDM)
        </dd>

        <dt>
            Ảnh danh mục
        </dt>

        <dd>
            <img src="@Model.AnhDM" width="100" height="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDM }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
